<div class="sidebar-header">  
   <h3 class="username">
      <a href="#profile-link-here">
         <%= user.get("name") %>
      </a>
      <a id="settings">
         <i class="icon-cog settingsicon"></i>
      </a>
   </h3>
</div>
<ul class="sidebar-nav-tabs">
   <li id="sessions"><a href="#sidenav-sessions"><h4>Sessions</h4></a></li>
   <li id="notifications" class="new_notifs"><a href="#sidenav-sessions"><h4>Notifications</h4><div class="notif-count"><p><%= notif_count %></p></div></a></li>
</ul>
<div id="sidebar-tab-content">
   <div id="sidenav-sessions">
      <% _.each(courses, function(course){ %>
      <h5 id='<%= course.id %>'><%= course.get("name") %></h5>
      <% _.each(seshs, function(sesh){ %>
         <% if (sesh.get("course") == course.id) { %>
         <p><a href="/sessions/<%= sesh.get("_id") %>"><%= sesh.get("title") %></a></p>
         <% }; %>
         <% }); %>
      <% }); %>
   </div>
   <div id="sidenav-notifications">
      <ul>
         <% _.each(notifications, function(notif) { %>
         <li><a href="/sessions/<%= notif.get("ref") %>"><p><%= notif.get("text") %></p>
         <% }); %>
      </ul>
   </div>
</div>