<h3 class="username"><a href="#profile-link-here"><%= courses.get("name") %></a>
	<a href="/settings"><i class="icon-cog settingsicon"></i></a></h3>
	<% _.each(courses, function(course){ %>
   <li><%= course.get("name") %></li> 
  <% }); %>
	<ul class="sidebar-nav-tabs">
		<li id="sessions"><a href="#sidenav-sessions"><h4>Sessions</h4></a></li>
		<li id="sessions"><a href="#sidenav-sessions"><h4>Notifications</h4></a></li>
	</ul>
	<div id="sidenav-sessiosn">
		
	</div>

<!-- h3.username: a(href='#profile-link-here') #{userdata.name}
		a(href='#{rooturl}/settings'): i.icon-cog.settingsicon
	ul.sidebar-nav-tabs
		li#sessions: a(href='#sidenav-sessions'): h4 Sessions
		li#notifications: a(href='#sidenav-notifications'): h4 Notifications
			#notif-tab
	#sidenav-sessions
		each course in userdata.classes
			a(href='#{rooturl}/classes/#{course._id}'): h4 #{course.dept} #{course.num}
			ul.seshlist
			each session in sessions
				if session.course.equals(course._id)
					li: a(href='#{rooturl}/sessions/#{session._id}) #{session.title}
	#sidenav-notifications
		p Placeholder -->
