script(type='text/javascript')
		head.js(
				"https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js",
				"https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js",
				"/javascripts/underscore/underscore-min.js",
				"/javascripts/backbone/backbone-min.js",
				"/nowjs/now.js",
				"/javascripts/models.js"
				
			);

script(type='text/javascript')
		head.ready(function() {
			var searchView = new SearchView();
		});

#course-selector
		#dept-search
			h3 Dept:
				input(type='text', id='dept-search-input')
			#depts

		#course-search
			h3 Course:
				input(type='text', id='course-search-input')
			#courses
