append head
      script(data-main="/javascripts/main", src='/javascripts/libs/require/require-jquery.js')

.container
   .row
      .span3
         include includes/sidebar      
      .span9#main-container
   footer
      p Pekt Labs
