script(type='text/javascript')
		head.js(
				"https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js",
				"/javascripts/underscore/underscore-min.js",
				"/javascripts/backbone/backbone-min.js",
				"/nowjs/now.js",
				"/javascripts/models.js"
				
			);


#course-selector

	#dept-search
		h3 Dept:
			input(type='text', id='dept-search-input')
		#depts

	#course-search
		h3 Course:
			input(type='text', id='course-search-input')
		#courses

script(type='text/javascript')
		head.ready(function() {
			var searchView = new SearchView();
			var sessModel = new SessionCreationModel();
			var sessCreateView = new SessionCreationView({model: sessModel});
			//var app = new CompleterApp()
			//var appView = new CompleterAppView({model: app});
		});

	
#session-creation
	div
		button#create-session Create a Session
	div#select-course
		span Select Course:
		select#select-course-input
			each course in courses
				option(value=course._id) #{course.name}
					
	div#time
		span Select Time:
		input#time-input
	div#title
		span Enter a Title:
		input#title-input
	div#location
		span Enter a location:
		input#location-input
	div#description
		span Description:
		textarea#description-input
	button#submit-session Submit

#study-times
	each studytime in studytimes
		#{studytime.title}
