.logo-box   
    h1.biglogo Seshlr
.hero-unit.index-page
    p: em Seshlr helps you plan study sessions with your friends so you can stop wasting your free time.
    p Click the button below to login using your Facebook account.
    a.btn.btn-large.btn-primary(href="/auth/facebook") Connect with Facebook
    p or create a new account below
    a.btn.btn-large(href="/register") Register
    p 
    a.btn.btn-large(href="/login") Login
    