.navbar.navbar-static
	.navbar-inner
		.container
				a.brand(href='/') StudyWithMe	
.container
	.hero-unit
		h1= title
		em StudyWithMe helps you plan study sessions with your friends so you can stop wasting your free time.
		p Click the button below to login using your Google account.
		a.btn.success(href="/auth/google") Login with Google
	