.hero-unit
	h1= title
	p: em Seshlr helps you plan study sessions with your friends so you can stop wasting your free time.
	p Click the button below to login using your Facebook account.
	a.btn.btn-large.btn-success(href="/auth/facebook") Connect with Facebook
	