!!!
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.navbar.navbar-static
			.navbar-inner
				.container
					a.brand(href='/') Seshlr
		.container
			.row!= body
