include layout

append head
      script(data-main="/javascripts/main", src='/javascripts/libs/require/require-jquery.js')
div(class="navbar navbar-inverse navbar-fixed-top")
    div(class="navbar-inner")
.container
   .row
      .span3
         include includes/sidebar      
      .span9#main-container
   footer
      p Pekt Labs