<div id="calendar-controls">
   <a href="#" class="calendar-prev">&lt;&lt;&lt;</a>
   <p class="calendar-month"></p>
   <a href="#" class="calendar-next">&gt;&gt;&gt;</a>
</div>
<div id="calendar">
   <ul>
   	<% _.each(days, function(day){ %>
    	<li data-day = <%= day.date %>
         <% if (day.past) { %> class="cal-past" <% }; %> 
         <% if (day.current) { %> class="cal-current"
         <% } else { %> class="cal-future" <% }; %>>
   		<p class="cal-header"><%= day.day %></p>
   		<h4 ><%= day.date %><h4>
   	</li>
   	<% }); %>
   </ul>
</div>