<div id="header">
   <span>Find a session using the filters below, or </span>
   <span id="session-creation">
      <a class="btn btn-primary" data-toggle-"model" id="create-sesh">Create a Session</a>
   </span>
</div>
<div id="calendar-container"> 
   {{{ calendar }}}
</div>
<div class="session-container">
   <table class="table table-bordered">
      <thead class="sesh-filters">
         <tr>
            <th width="30%">
               <span>Name</span><a class="pull-right"><i class="icon-chevron-down"></i></a>
            </th>
            <th width="20%">
               <span id="courses">Class</span><a id="course-filter" href="#" class="pull-right"><i class="icon-chevron-down"></i></a>
            </th>
            <th width="15%">
               <span>Date</span><a id="date-filter" href="#" class="pull-right"><i id="date-filter-icon" class="icon-chevron-down"></i></a>
            </th>
            <th width="15%">
               <span>Time</span><a id="time-filter" href="#" class="pull-right"><i id="time-filter-icon" class="icon-chevron-down"></i></a>
            </th>
            <th width="10%">
               <i class="icon-user"></i><a id="user-filter" href="#" class="pull-right"><i id="user-filter-icon" class="icon-chevron-down"></i></a>
            </th>
            <th width="10%">
               <i class="icon-comment"></i><a id="comm-filter" href="#" class="pull-right"><i id="comm-filter-icon" class="icon-chevron-down"></i></a>
            </th>
         </tr>
      </thead>
      <tbody id="session-feed"></tbody>
   </table>
</div>
