<table class="table table-bordered">
      <thead class="sesh-filters">
         <tr>
            <th class="name-row">
               <span>Name</span><a class="pull-right"><i class="icon-chevron-down"></i></a>
            </th>
            <th class="course-row">
               <span id="courses">Class</span><a id="course-filter" href="#" class="pull-right"><i class="icon-chevron-down"></i></a>
            </th>
            <th class="date-row">
               <span>Date</span><a id="date-filter" href="#" class="pull-right"><i id="date-filter-icon" class="icon-chevron-down"></i></a>
            </th>
            <th class="time-row">
               <span>Time</span><a id="time-filter" href="#" class="pull-right"><i id="time-filter-icon" class="icon-chevron-down"></i></a>
            </th>
            <th class="user-row">
               <i class="icon-user"></i><div id="user-filter" class="pull-right"><i id="user-filter-icon" class="icon-chevron-down"></i></a>
            </th>
            <th class="user-row">
               <i class="icon-comment"></i>
               <div id="comm-filter" class="pull-right">   <i id="comm-filter-icon" class="icon-chevron-down"></i>
               </a>
            </th>
         </tr>
      </thead>
      <tbody id="session-feed"></tbody>
   </table>