<a class='btn' data-toggle="model" href="#sesh-form" id="create-sesh">Create a Session </a>
<div class="modal hide fade" id="sesh-form">
	<div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Create a Sesh</h3>		
  </div>
		<div>
			<span>Select Course</span>
			<select id="select-course-input">
					<% _.each(courses, function(course){ %>
					<option value='<%= course.get("_id") %>'><%= course.get("dept") %> <%= course.get("num") %></option>
					<% }); %>
			</select>
		</div>
		<div>
			<span>Select Date</span>
			<input id="time-input"/>
			<select id="hour-pick">
					<% _.each([00,01,02,03,04,05,06,07,08,09,10,11,12,13,14,15,16,17,18,19,20,21,22,23], function(time){ %>
					<option><%= time%>:00</option>
					<option><%= time%>:30</option>
					<% }); %>
			</select>
		</div>
		<div>
			<span> Enter a Title: </span>
			<input id="title-input"/> 
		</div>
		<div>
 			<span> Give a Description </span>
			<textarea id="description-input"/> 
		</div>
		<button class="btn" id="submit-sesh" >Submit</button>
</div>
