<tr  
	<% if (added) { %> class="sesh-added"
	<%  } else { %> class="sesh-notadded" <% }; %>>

		<td  class="name-row" >
 			<% if (added) {%>
				<a id="remove-session" class="btn btn-small">Remove</a>
			<% } else { %>
				<a class="btn btn-primary btn-small" id="add-session">Add</a>
			<% }; %>
		<%= sesh.get("title") %>
		</td>
		<td class="course-row" ><%= sesh.get('course').name%>
		</td>
		<td class="date-row" ><%= date.getMonth() + 1 + "/" + date.getDate() + "/" + date.getFullYear().toString().substr(2)%></td>
		<td class="time-row"  ><%= time %></td> <!--not sure if they're should be a + 1 w/ hours -->
		<td class="user-row" ><%= sesh.get('users').length %></td>
		<td class="comment-row"><%= sesh.get('comments').length %></td>
</tr>
