<div class="logo-box">
    <h1 class="biglogo">Seshlr</h1>
</div>
<div class="signup-container">
    <div id="signup-guide">
        <div class="span3">
            <h3>Get started with Seshlr</h3>
            <ul class="tasks">
                <li>
                    <h5>1</h5>
                    <p>Add your courses</p>
                </l1>
            </ul>
        </div>
    </div>
    <div id="signup-content">
        <div class="span9" id="main-container">
            <div id="alert-container"></div>
                <div class="alert hide sign-up-alert">
                </div>
            </div>
            <div id="course-selector">
                <div id="dept-search">
                    <h3> Dept:
                        <input type="text" id="dept-search-input" data-provide="typeahead"/>
                    </h3>
                </div>
            <div id="course-search">
                <h3> Course:
                    <input type="text" id="course-search-input"/>
                </h3>
            </div>
            <div id="course-container"/>
            <div id="courses-settings"/>
            <a class="btn btn-primary" id="courses-submit">Done</a>
        </div>
    </div>
</div>
