/* Global Styling */
h1.biglogo {
	margin: 25px auto;
	margin-bottom: -40px;
	width: 310px;
	height: 130px;
	text-indent: 1000em;
	overflow: hidden;
	background: url('../images/biglogo.png') no-repeat 0 center;
	z-index: 20;
	position: relative;
}

/* Sidebar */
h1.logo {
	width: 125px;
	height: 60px;
	margin: 10px auto;
	text-indent: 1000em;
	overflow: hidden;
	background: url('../images/logo.png') no-repeat 0 center;
}
.sidebar-container {
	border: 1px solid #dddddd;
	border-radius: 5px;
	background: #eaeaea;
}
@-webkit-keyframes rotatecog {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}
.settingsicon {
	margin-top: 6px;
}
.settingsicon:hover {
	-moz-transform: rotate(15deg);
  -webkit-animation-name:             rotatecog; 
    -webkit-animation-duration:         0.5s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animate-timing-function: linear;

}
.sidebar-header {
	display: block;
	height: 30px;
}
.sidebar-container h3 {
	padding-left: 13px;
	text-align: center;
}
.sidebar-container h4 {
	display: block;
}
#sidebar-tab-content {
	padding: 10px;
	margin-top: 30px;
}
ul.sidebar-nav-tabs {
	width: 100%;
	height: 30px;
	margin:0; padding: 0;
	float: left;
	text-indent: none;
	list-style: none;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #F4F4F4;
}
.sidebar-nav-tabs li {
	height: 20px;
	padding: 5px 0;
	text-align: center;
	float: left;
	width: 50%;
}
.sidebar-nav-tabs li:last-child {
	margin-left: -1px;
	border-left: 1px solid #CCCCCC;
}
.sidebar-nav-tabs li.selected {
	background: #DDDDDD;
	box-shadow: inset 0 3px 5px #CECECE;
}

/* Sesh Modal */
button.get-fb {
	margin-left: 160px;
}
button.friendtag {
	margin-left: 5px;
	margin-top: 5px;
}
#friendtag-container {
	margin-left: 160px;
	margin-bottom: 10px;
}
.friendtag-close i {
	margin-top: 1px;
	margin-left: 3px;
}
/* Index Page Styling */
.hero-unit { background: whiteSmoke;}
.index-page {
	text-align: center;
	position: relative;
	z-index: 10;
}
.index-page p, em{
	font-size: 16px;
	font-family: ‘Open Sans’, Arial, serif;
}
.index-page p {font-weight: 400;}
.index-page em {font-weight: 700;}

/* Signup Page Styling */
.signup-container {
	display: inline-block;
	border-radius: 6px;
	border: 1px solid #DDDDDD;
}
#signup-guide {
	padding: 20px 0 20px 0;
	box-shadow: inset -5px 0 7px -2px #CECECE;
	position: relative;
	float: left;
	display: inline-block;
	width: 25%;
	height: 240px;
	background: #EAEAEA;
}
#signup-content {
	padding: 50px 0 30px 0;
	border-left: 1px solid #CCCCCC;
	position: relative;
	float: right;
	display: inline-block;
	width: 75%;
	height: 200px;
	background: whiteSmoke;
}
.tasks {
	list-style: none;
	margin: 0;
	padding: 0;
}
.tasks li h5 {
	float: left;
	display: block;
	width: 20px;
	height: 20px;
	padding: 10px;
	text-align: center;
	font-weight: 800;
	color: #FFF;
	font-size: 18px;
	border-radius: 20px;
	background: #ff9280;
}
.tasks li p {
	float: left;
	margin-left: 5px;
	margin-top: 10px;
}
.sign-up-alert {
	width: 90%;
}

/* Settings */
#courses-settings {
	display: block;
}
ul#course-list {
	display: block;
	width: 400px;
	list-style: none;
	margin: 0; padding: 0;
}
ul#course-list li {
	margin: 10px 0;
	padding: 5px 0;
	background: #EAEAEA;
}
ul#course-list button {
	position: relative;
	float: right;
	margin-top: -5px;
}
/***********************/

#course-selector {
	display: inline-block;
}
#course-selector h3 {
	display: block;
}
#course-selector input {
	display: block;
	width: 15em;
  	padding: 6px;
  	margin-right: 10px;
}
#dept-search {
	float: left;
}
#course-search {
	float: left;
	display: none;
}
#course-submit {
	float: left;
	margin-top: 28px;
	display: none;
}

#session-creation {
	float: left;
	width:100%;
}
#create-session {
	margin-bottom: 5px;
}
#select-course
{
	display: none;
}

#time
{
	display: none;
}
#time-input {
	width: 100px;
}
#hour-pick {
	width: 75px;
	margin-left: 5px;
}
#halfday-pick {
	width: 50px;
	margin-left: 5px;
}
/* JqueryUI Widget styling */
#ui-datepicker-div {
	background: white;
}
.ui-datepicker-header { border: 1px solid #ddd; border-bottom: none;}
.ui-datepicker-calendar { border: 1px solid #ddd;}


