/* Global Styling */

.navbar-inner {
	background-image: linear-gradient(bottom, rgb(30,179,4) 0%, rgb(138,255,117) 100%);
	background-image: -o-linear-gradient(bottom, rgb(30,179,4) 0%, rgb(138,255,117) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(30,179,4) 0%, rgb(138,255,117) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(30,179,4) 0%, rgb(138,255,117) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(30,179,4) 0%, rgb(138,255,117) 100%);

	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(30,179,4)),
	color-stop(1, rgb(138,255,117))
	);
}
.navbar .brand {
	color: #222222;
}
.sidebar-container {
	border-right: 1px solid #999999;
	height: 100%;
}
/* User Profile Styling */
.sidebar {
	display: block;
	margin-top: 50px;
}
#username {
	display: inline;
}
#userpic {
	float: left;
	margin-right: 10px;
}

/***********************/

#course-selector h3 {
	display: block;
}
#course-selector input {
	display: block;
	width: 15em;
  padding: 6px;
  margin-right: 10px;
}
#dept-search {
	float: left;
}
#course-search {
	float: left;
}

#session-creation {
	float: left;
	width:100%;
}
#create-session {
	margin-bottom: 5px;
}
#select-course
{
	display: none;
}

#time
{
	display: none;
}
#time-input {
	width: 100px;
}
#hour-pick {
	width: 75px;
	margin-left: 5px;
}
#halfday-pick {
	width: 50px;
	margin-left: 5px;
}
/* JqueryUI Widget styling */
#ui-datepicker-div {
	background: white;
	border: 1px solid #666;
}

#title
{
	display: none;
}

#location
{
	display: none;
}

#description
{
	display: none;
}

#submit-session
{
	display: none;
}

